<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>p0i1tune1x</key>
	<integer>10</integer>
	<key>p0i1tune1y</key>
	<integer>30</integer>
	<key>p0i1tune2x</key>
	<integer>10</integer>
	<key>p0i1tune2y</key>
	<integer>120</integer>
	<key>p0i1tune3x</key>
	<integer>10</integer>
	<key>p0i1tune3y</key>
	<integer>210</integer>
	<key>p0i1tune4x</key>
	<integer>10</integer>
	<key>p0i1tune4y</key>
	<integer>300</integer>
	<key>p0i2tune1x</key>
	<integer>20</integer>
	<key>p0i2tune1y</key>
	<integer>30</integer>
	<key>p0i2tune2x</key>
	<integer>20</integer>
	<key>p0i2tune2y</key>
	<integer>120</integer>
	<key>p0i2tune3x</key>
	<integer>20</integer>
	<key>p0i2tune3y</key>
	<integer>210</integer>
	<key>p0i2tune4x</key>
	<integer>20</integer>
	<key>p0i2tune4y</key>
	<integer>300</integer>
	<key>p0i3tune1x</key>
	<integer>30</integer>
	<key>p0i3tune1y</key>
	<integer>30</integer>
	<key>p0i3tune2x</key>
	<integer>30</integer>
	<key>p0i3tune2y</key>
	<integer>120</integer>
	<key>p0i3tune3x</key>
	<integer>30</integer>
	<key>p0i3tune3y</key>
	<integer>210</integer>
	<key>p0i3tune4x</key>
	<integer>30</integer>
	<key>p0i3tune4y</key>
	<integer>300</integer>
	<key>p1i1tune1x</key>
	<integer>40</integer>
	<key>p1i1tune1y</key>
	<integer>30</integer>
	<key>p1i1tune2x</key>
	<integer>40</integer>
	<key>p1i1tune2y</key>
	<integer>120</integer>
	<key>p1i1tune3x</key>
	<integer>40</integer>
	<key>p1i1tune3y</key>
	<integer>210</integer>
	<key>p1i1tune4x</key>
	<integer>40</integer>
	<key>p1i1tune4y</key>
	<integer>300</integer>
	<key>p1i2tune1x</key>
	<integer>50</integer>
	<key>p1i2tune1y</key>
	<integer>30</integer>
	<key>p1i2tune2x</key>
	<integer>50</integer>
	<key>p1i2tune2y</key>
	<integer>120</integer>
	<key>p1i2tune3x</key>
	<integer>50</integer>
	<key>p1i2tune3y</key>
	<integer>210</integer>
	<key>p1i2tune4x</key>
	<integer>50</integer>
	<key>p1i2tune4y</key>
	<integer>300</integer>
	<key>p1i3tune1x</key>
	<integer>60</integer>
	<key>p1i3tune1y</key>
	<integer>30</integer>
	<key>p1i3tune2x</key>
	<integer>60</integer>
	<key>p1i3tune2y</key>
	<integer>120</integer>
	<key>p1i3tune3x</key>
	<integer>60</integer>
	<key>p1i3tune3y</key>
	<integer>210</integer>
	<key>p1i3tune4x</key>
	<integer>60</integer>
	<key>p1i3tune4y</key>
	<integer>300</integer>
	<key>p2i1tune1x</key>
	<integer>70</integer>
	<key>p2i1tune1y</key>
	<integer>30</integer>
	<key>p2i1tune2x</key>
	<integer>70</integer>
	<key>p2i1tune2y</key>
	<integer>120</integer>
	<key>p2i1tune3x</key>
	<integer>70</integer>
	<key>p2i1tune3y</key>
	<integer>210</integer>
	<key>p2i1tune4x</key>
	<integer>70</integer>
	<key>p2i1tune4y</key>
	<integer>300</integer>
	<key>p2i2tune1x</key>
	<integer>80</integer>
	<key>p2i2tune1y</key>
	<integer>30</integer>
	<key>p2i2tune2x</key>
	<integer>80</integer>
	<key>p2i2tune2y</key>
	<integer>120</integer>
	<key>p2i2tune3x</key>
	<integer>80</integer>
	<key>p2i2tune3y</key>
	<integer>210</integer>
	<key>p2i2tune4x</key>
	<integer>80</integer>
	<key>p2i2tune4y</key>
	<integer>300</integer>
	<key>p2i3tune1x</key>
	<integer>90</integer>
	<key>p2i3tune1y</key>
	<integer>30</integer>
	<key>p2i3tune2x</key>
	<integer>90</integer>
	<key>p2i3tune2y</key>
	<integer>120</integer>
	<key>p2i3tune3x</key>
	<integer>90</integer>
	<key>p2i3tune3y</key>
	<integer>210</integer>
	<key>p2i3tune4x</key>
	<integer>90</integer>
	<key>p2i3tune4y</key>
	<integer>300</integer>
	<key>p3i1tune1x</key>
	<integer>100</integer>
	<key>p3i1tune1y</key>
	<integer>30</integer>
	<key>p3i1tune2x</key>
	<integer>100</integer>
	<key>p3i1tune2y</key>
	<integer>120</integer>
	<key>p3i1tune3x</key>
	<integer>100</integer>
	<key>p3i1tune3y</key>
	<integer>210</integer>
	<key>p3i1tune4x</key>
	<integer>100</integer>
	<key>p3i1tune4y</key>
	<integer>300</integer>
	<key>p3i2tune1x</key>
	<integer>110</integer>
	<key>p3i2tune1y</key>
	<integer>30</integer>
	<key>p3i2tune2x</key>
	<integer>110</integer>
	<key>p3i2tune2y</key>
	<integer>120</integer>
	<key>p3i2tune3x</key>
	<integer>110</integer>
	<key>p3i2tune3y</key>
	<integer>210</integer>
	<key>p3i2tune4x</key>
	<integer>110</integer>
	<key>p3i2tune4y</key>
	<integer>300</integer>
	<key>p3i3tune1x</key>
	<integer>120</integer>
	<key>p3i3tune1y</key>
	<integer>30</integer>
	<key>p3i3tune2x</key>
	<integer>120</integer>
	<key>p3i3tune2y</key>
	<integer>120</integer>
	<key>p3i3tune3x</key>
	<integer>120</integer>
	<key>p3i3tune3y</key>
	<integer>210</integer>
	<key>p3i3tune4x</key>
	<integer>120</integer>
	<key>p3i3tune4y</key>
	<integer>300</integer>
</dict>
</plist>
